.wrap {
  margin: 10px;
  padding: 10px;
  border: 2px solid pink;
}

.title {
  color: magenta;
}

.pink {
  color: pink;
}

.fz12 {
  font-size: 12px;
}

.bgGray {
  background: gray;
}

.hidden {
  display: none;
}

.orange {
  color: orange;
}
.cyan {
  color: cyan;
}
.purple {
  color: purple;
}
