.title {
  color: magenta;
}

.pink {
  color: pink;
}

.fz12 {
  font-size: 12px;
}

.bgGray {
  background: gray;
}

.hidden {
  display: none;
}

.orange {
  color: orange;
}
.cyan {
  color: cyan;
}
.purple {
  color: purple;
}

.done {
  color: gray;
  text-decoration: line-through;
}
.undone {
  color: #383838;
}
